/target/
**/__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
desktop/ui/node_modules/
desktop/ui/dist/
dist/
build/
*.log
.DS_Store
.e2e/
.furina/*
!.furina/secrets.env.example
.cargo/config.toml

/desktop/src-tauri/bin/*.exe
